<!-- フッター -->
<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img alt="コンテンツ" class="object-cover object-center h-10 w-10 rounded-full" src="./assets/icons/resonite-r-exercise-Icon.png">
      <span class="ml-3 text-xl">
        Resoniteラジオ体操部
      </span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      2023 Resoniteラジオ体操部 — 
      <a href="https://twitter.com/reso_r_exercise" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">
        @reso_r_exercise
      </a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="ml-3 text-gray-500">
        x
      </a>
    </span>
  </div>
</footer>
