<!-- TopImage -->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="コンテンツ" class="object-cover object-center h-full w-full" src="./assets/images/resonite-world.jpg">
      </div>
    </div>
  </div>
  <div class="container px-5 py-12 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <img alt="コンテンツ" class="object-cover object-center sm:w-24 sm:h-24 w-15 h-15" src="./assets/icons/RSN_Logomark_Color_1080.png">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Resonitとは？</font>
          </font>
        </h2>
        <p class="leading-relaxed text-base">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Steamのゲームです！インストールして一緒に遊びましょう！</font>
          </font>
        </p>
        <iframe src="https://www.youtube.com/embed/FU0PX7ASnMc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Resoniteラジオ体操部とは？</font>
          </font>
        </h2>
        <p class="leading-relaxed text-base">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Resoniteでラジオ体操をするイベントです！</font>
            <font style="vertical-align: inherit;">毎朝7:00～7:15まで開催しています。</font>
          </font>
        </p>
        <a class="mt-3 text-indigo-500 inline-flex items-center">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Resoniteラジオ体操部のワールドを開く</font>
          </font>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <img alt="コンテンツ" class="object-cover object-center rounded-full" src="./assets/icons/resonite-r-exercise-Icon.png">
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <img alt="コンテンツ" class="object-cover object-center rounded-full" src="./assets/icons/booth_logo_icon.png">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Booth</font>
          </font>
        </h2>
        <p class="leading-relaxed text-base">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Resoniteラジオ体操部で使用しているギミックを公開しています！</font>
            <font style="vertical-align: inherit;">Resoniteでワールド作成する時の助けとなればなと思います！</font>
          </font>
        </p>
        <a class="mt-3 text-indigo-500 inline-flex items-center" href="https://reso-r-exercise.booth.pm/" target="_blank">
          Boothへ
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">GitHub</font>
            </font>
          </h2>
          <p class="leading-relaxed text-base">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Resoniteラジオ体操部で抱えている課題をまとめています！</font>
              <font style="vertical-align: inherit;">issue待ってます！</font>
            </font>
          </p>
          <a class="mt-3 text-indigo-500 inline-flex items-center" href="https://github.com/reso-r-exercise/ResoniteRadioExercise" target="_blank">
            GitHubへ
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
            <img alt="コンテンツ" class="object-cover object-center rounded-full" src="./assets/icons/github-mark-white.png">
        </div>
      </div>
    </div>
</section>